@model IEnumerable<CategoryVM>

@{
    ViewData["Title"] = "Categories";
}


<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-md-3">
            <button class="btn btn-light category-button" data-category-id="@category.Id">@category.Name</button>
        </div>
    }
</div>
