@{
    ViewData["Title"] = "Home Page";
}

<div id="category-list">
    <!-- Problem listesi buraya yüklenecek -->
</div>


<div id="problem-list">
    <!-- Problem listesi buraya yüklenecek -->
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Problem listesi için AJAX çağrısı
            $.ajax({
                url: '@Url.Action("Problems", "Problem")',
                type: 'GET',
                success: function (data) {
                    $('#problem-list').html(data);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });

            // Kategori listesi için AJAX çağrısı
            $.ajax({
                url: '@Url.Action("Categories", "Category")',
                type: 'GET',
                success: function (data) {
                    $('#category-list').html(data);

                    // Kategori butonlarına tıklandığında problem listesini güncelle
                    $('.category-button').on('click', function () {
                        var categoryId = $(this).data('category-id');
                        $.ajax({
                            url: '@Url.Action("ProblemsByCategory", "Problem")',
                            type: 'GET',
                            data: { categoryId: categoryId },
                            success: function (data) {
                                $('#problem-list').html(data); // Kategorilere ait problemleri listeler
                            },
                            error: function (xhr, status, error) {
                                console.log(error);
                            }
                        });
                    });
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>
}
