@model HomeViewModel


@{
    ViewData["Title"] = "Home Page";
}

@*  Kategoriler Listesi *@
<div class="row">
    @Html.Partial("Category/_Category_PV")
</div>


@* Problem Paylaş *@
<div>
    @Html.Partial("Problem/_ShareProblem_PV")
</div>



@*ProblemList ant Comment*@
<div class="container mt-4">

    @Html.Partial("Problem/_Problem_PV", Model)

</div>
