<title class="centered">Yetkisiz Erişim</title>
<style>
    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight:bold;
        font-size:5vh;
        color: red;
    }
</style>