
<div class="fixed-categories">
    <form method="get" action="/Home/Index" class="d-flex justify-content-center flex-wrap" style="width: 100%; margin: 0;">
        <div class="d-inline-block" style="margin-right: 60px;">
            <button type="submit" name="categoryId" value="all" class="btn d-flex align-items-center" style="border: none; padding: 0; text-transform: uppercase; max-width: 150px; background-color: transparent; margin-left: 20px;">
                <img src="~/images/icons/@($"all.png")" width="40" height="40" class="mr-2" style="margin-right: 3px;" />
                <span style="font-family: Segoe'Segoe Print'; font-weight: bold; font-size: large;">All</span>
            </button>
        </div>
        @foreach (var category in Model.Categories)
        {
            <div class="d-inline-block" style="margin-right: 50px;">
                <button type="submit" name="categoryId" value="@category.Id" class="btn d-flex align-items-center" style="border: none; padding: 0; text-transform: uppercase; max-width: 150px; background-color: transparent;">
                    <img src="~/images/icons/@($"{category.Name}.png")" width="40" height="40" class="mr-2" style="margin-right: 3px;" />
                    <span style="font-family: Segoe 'Segoe Print'; font-weight: bold; font-size: large;">@category.Name</span>
                </button>
            </div>
        }
    </form>


</div>

