
<div class="container mt-4 card-header d-flex justify-content-center" style="border-radius: 5px; max-width: 69%">
    <div class="d-flex align-items-center justify-content-around px-4 py-3" style="width: 100%;">
        <p class="mb-0" style=" font-family: Segoe 'Segoe Print'; font-weight:600; font-size: 20px;">Kod yazarken karşılaştığınız sorunları paylaşın, çözümleri birlikte bulalım.</p>
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-area="User" asp-controller="Problem" asp-action="Create" class="btn btn-secondary btn-lg">Problem Paylaş</a>
        }
        else
        {
            <button class="btn btn-secondary btn-lg" onclick="alert('Lütfen giriş yapınız.'); window.location.href='/Identity/Account/Login';">Problem Paylaş</button>
        }
    </div>
</div>